
<h1>Hello!</h1>
<p>The time is <strong><%= Time.now %></strong>.</p>

<hr>

<p>Use the resource routes pattern to get information about students.</p>


<%= @display_students %>

<hr>
<br>
<a id="edit" href=".">Edit a Student Entry</a>
<a id="add" href=".">Add a New Student</a>
<a id="delete" href=".">Delete a Student</a>